<html>
<head>
	<script src= 
	"https://code.jquery.com/jquery-1.12.4.min.js"> 
	</script> 
</head>
<body>
	<h1>Welcome {{username}}</h1>
<div>
	<form action="/post" method="POST">
		<input type="text" name = "caption" placeholder="caption" required/> </br>
		<input type="radio" name = "allFollowers" value=1 required/> Make visible to all followers</br>
		<input class = "someFollowers" type="radio" name = "allFollowers" value=0 required/> Make visible some followers</br>
		<input type="file" name="filename" required/> </br>
		<input type="submit" value = Post />
	</form>
	<div class="groups"> 
			<strong>Select one of your groups</strong>
	</div>
	{% for line in groups %}
	<select>
			<option> {{line.groupName}} </option>
	</select>
	{% endfor %}
	<script type="text/javascript"> 
		$(document).ready(function(){
						$('select').hide();
						$('.someFollowers').on('change', function(){
							$('select').show();
						})
					}); 
	</script> 
</div>
<div>
	<form action='/follow' method="POST">
		<h1>Find friends to follow!</h1>
		{% for line in usersToFollow %} 
			<input type="checkbox" name="tofollow" value={{line.username}}> {{line.username}}
		{% endfor %}
		<input type="submit" value = Post />
	</form>
	<form action='/createFriendGroup' method = "POST">
		<input type = 'submit' value = "createGroup" />
	</form>
</div>

<div>
	<form action='/like' method="POST">
	<hi>Your Feed</hi>
	{% for line in visiblePosts %}
		<h2>{visiblePosts.photoPoster}</h2>
		<h3>{visiblePosts.postingDate}</h3>
		<h3>{visiblePosts.caption</h3>
		<input type="checkbox" name = 'likeButton' name = {{visiblePosts.photoID}} value=1>
		<h2>How do we make it submit without clicking submit?</h2>
	</form>
</div>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

